<div class="main-div">
  <ul>
    <li class="da-settings-item">
      <div>
        <div>{{ user.name }}</div>
        <div class="da-settings-item-content">
          <span>{{ user.name }}</span>
          <span></span>
        </div>
      </div>
      <div class="da-settings-item-operation"></div>
    </li>
    <li class="da-settings-item">
      <div>
        <div>EMAIL:</div>
        <div class="da-settings-item-content">
          <span>{{ user.email }}</span>
          <span></span>
        </div>
      </div>
      <div class="da-settings-item-operation"></div>
    </li>
    <li class="da-settings-item">
      <div>
        <div>ROLE:</div>
        <div class="da-settings-item-content">
          <span>{{ user.role }}</span>
          <span></span>
        </div>
      </div>
      <div class="da-settings-item-operation"></div>
    </li>
  </ul>
</div>
